html, body {
    margin: 0;
}

body {
    font-family: Consolas;
    background-color: black;
    color: white;
}

.menu {
    max-height: 100px;
}

.menu-title {
    font-size: 2rem;
    color: cornflowerblue;
    margin: 0.3rem 0;
}

.menu-wrapper {
    display: flex;
}

.menu-element {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.menu-element:first-child {
    margin-left: 0;
}

.content {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-height: calc(100% - 130px);
}

.value-row {
    width: 33%;
    box-sizing: border-box;
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.value-row>.value-key {
    float: left;
}

#page-signal {
    overflow-y: auto;
}

.signal-row {
    animation: row-appear 0.5s ease;
}

@keyframes row-appear {
    0% {
        background-color: rgba(250, 128, 114, 1);
    }
    100% {
        background-color: rgba(250, 128, 114, 0);
    }
}

.signal-row>span {
    font-weight: bold;
    background-color: firebrick;
}